[Unit]
Description=Nexus Service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_install_dir }}/{{ nexus_dir_name.stdout }}/bin/nexus start
ExecStop={{ nexus_install_dir }}/{{ nexus_dir_name.stdout }}/bin/nexus stop
User={{ nexus_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
